﻿body.eventpage {
    font-family: 'Open Sans',sans-serif !important;
}

.swiper-slider {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.slidersocial {
    padding: 0.6rem 0.5rem;
    border-radius: 1rem;
    border: solid 2px #00e5ff;
    position: absolute;
    text-align: center;
    color: #fff;
    z-index: 99;
    top: -39%;
    left: 50%;
    transform: translateX(-50%);
    width: 21%;
}

    .slidersocial a {
        margin: 0 1rem;
        color: #fff !important;
        text-decoration: none !important;
    }

.swiper-slider .swiper-slide .caption {
    position: absolute;
    text-align: center;
    color: #fff;
    z-index: 99;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
}

    .swiper-slider .swiper-slide .caption .eventdetails svg, .eventsmasterdetails .eventdetails svg {
        color: #00e5ff;
        margin-right: 0.5rem;
    }

    .swiper-slider .swiper-slide .caption .eventdetails, .eventsmasterdetails .eventdetails {
        font-family: 'Oswald', sans-serif;
        font-style: italic;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 0.9rem;
    }

.eventsmasterdetails {
    width: 70%;
    text-align: center;
    margin: 2rem auto 0;
    color: #fff;
}

.cover-heading {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    font-size: 3rem;
    width: 70%;
    margin: 0 auto;
}

.swiper-slider .swiper-button-next, .swiper-slider .swiper-container-rtl .swiper-button-prev {
    right: 20px !important;
    left: auto;
    background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'><path%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23FFFFFF'%2F><%2Fsvg>") !important;
}

.swiper-slider .swiper-button-prev, .swiper-slider .swiper-container-rtl .swiper-button-next {
    left: 20px !important;
    right: auto;
    background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'><path%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23FFFFFF'%2F><%2Fsvg>") !important;
}

.swiper-pagination-bullet-active {
    background: #4787e2 !important;
}

.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 0px;
}

.swiper-slide .btn-outline-danger {
    border-bottom-color: #00e5ff !important;
    color: #fff !important;
}

.swiper-slide .btn-info, #register .btn-info {
    background-color: #00e5ff !important;
    color: #00406e;
    font-size: 1rem;
    border-color: #00e5ff !important;
}

    .swiper-slide .btn-info:hover, #register .btn-info:hover {
        background-color: #00406e !important;
        color: #00e5ff;
        border-color: #00406e !important;
    }

.swiper-slide .btn-outline-danger:hover {
    background-color: #00e5ff !important;
}

.swiper-button-next, .swiper-button-prev {
    top: 40% !important;
}

.sectionheading {
    font-size: 2.5rem;
    font-weight: 700;
    color: #00406e;
}

.navbar-brand {
    max-width: 32%;
}

    .navbar-brand img {
        padding-right: 0.5rem;
        border-right: solid 1px rgba(255,255,255,0.6);
    }

    .navbar-brand span {
        font-family: 'Oswald', sans-serif;
        font-weight: 300;
        font-size: 1rem;
        margin-left: 0.5rem;
    }

.nav-masthead {
    padding: 0 1rem !important;
}

    .nav-masthead .navbar-collapse {
        justify-content: flex-end;
    }

    .nav-masthead .nav-link {
        padding: .25rem !important;
        font-weight: 300 !important;
        color: rgba(255, 255, 255, 1) !important;
        background-color: transparent !important;
        border-bottom: .25rem solid transparent !important;
        font-size: 0.9rem !important;
    }

        .nav-masthead .nav-link:hover,
        .nav-masthead .nav-link:focus {
            border-bottom-color: rgba(255, 255, 255, .25) !important;
        }

        .nav-masthead .nav-link + .nav-link {
            margin-left: 1rem !important;
        }

    .nav-masthead .active {
        color: #fff !important;
        border-bottom-color: #00e5ff !important;
    }

        .nav-masthead .active:hover, .nav-masthead .active:focus {
            border-bottom-color: #00e5ff !important;
        }


.shrink-nav {
    background-color: rgba(229, 30, 35, 0.9);
    padding-top: 0;
    padding-bottom: 0;
}

.shrink-nav-dark {
    background-color: rgba(0,0,0,0.8);
}

.shrink-nav .active {
    border-bottom-color: #fff !important;
}


.highlights {
    width: 100%;
    color: #fff !important;
    padding: 1.5rem 5rem 0.5rem;
    border-radius: 10rem;
    margin-top: -22rem;
    z-index: 999;
    position: relative;
}

.highlights-dark {
    background-color: transparent;
    border-radius: 0rem;
}


#timer {
    background-color: rgba(0,0,0,0.2);
    padding: 1rem 0;
    position: relative;
    margin-top: -11rem;
    z-index: 999;
}

.highlightsingle h4 {
    text-align: center;
    padding-top: 1rem;
    font-weight: 600;
    color: #fff !important;
}

.highlightsingle .img-fluid path {
    fill: #00e5ff !important;
}

.highlightsingle p {
    text-align: center;
    display: block;
    color: #00e5ff !important;
}


#aboutevent, #agenda, #speakers, #sponsors, #exhibitors, #venue {
    padding: 4rem 0;
}


#downloads, #shareevent {
    background-image: linear-gradient( rgba(0,0,0,.7), rgba(0,0,0,.7) ), url(../images/event-bg-new.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    padding: 4rem 0;
}

    #downloads svg {
        width: 3rem;
        height: 3rem;
        color: #00e5ff;
    }

    #downloads a, #downloads a:hover {
        text-decoration: none;
    }

    #downloads h4 {
        font-size: 1rem !important;
        font-weight: 300 !important;
    }

#sponsors {
    background-color: #f5f5f5;
}

.agendatabs .nav-tabs {
    border: none !important;
}

.agendatabs .nav {
    justify-content: center;
}

    .agendatabs .nav .nav-item {
        margin-left: 1rem;
        background-color: #eee;
        color: #00406e;
    }

        .agendatabs .nav .nav-item.active {
            background-color: #00e5ff;
            color: #00406e;
            border-color: #00e5ff;
            font-weight: bold;
        }

.agendatabs .tab-content {
    border: solid 1px #eee;
    padding: 1rem;
    background-color: #fff;
}

.agendaimg {
    max-height: 5rem;
}

.agendadetails {
    border-left: solid 0.5px #868e96;
}

    .agendadetails span {
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        font-size: 0.9rem;
        font-weight: 300;
        color: #00406e;
        margin-left: 1rem;
    }

    .agendadetails p, .agendadetails ul li {
        font-size: 0.9rem;
        font-weight: 400;
        color: #00406e;
        margin-left: 1rem;
    }

    .agendadetails h4 {
        font-family: 'Oswald', sans-serif;
        font-size: 1.2rem;
        font-weight: 500;
        color: #00406e;
        margin-left: 1rem;
    }

.agendaitem {
}

#sponsors {
    float: left;
    width: 100%;
    position: relative;
}

#days, #hours, #minutes, #seconds {
    font-size: 3rem;
    color: #fff;
    display: inline-block;
    font-weight: 600;
    width: 7rem;
    height: 7rem;
    text-align: center;
    border: solid 3px #00e5ff;
    border-radius: 50%;
    padding: 1rem;
    margin-right: 1rem;
    background-color: rgba(0,0,0,0.6);
}

    #days span, #hours span, #minutes span, #seconds span {
        font-size: 1rem !important;
        display: block;
        text-align: center;
        width: 100%;
        margin-top: 2rem;
        font-weight: 400;
        color: #fff;
    }


.daybox {
    border: none;
    border-radius: 0 !important;
}

div.daybox.card {
    background-color: transparent;
}

.daybox .card-header {
    background-color: #00e5ff;
    color: #fff;
    border: 0;
    border-radius: 0 !important;
}

.daybox .card-body {
    background-color: transparent;
    padding: 0;
}

.timebox {
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.1);
}

    .timebox h4 {
        font-size: 1rem;
        font-weight: 600;
    }

    .timebox p, .timebox ul li {
        font-size: 0.8rem;
        line-height: 1.2rem;
        text-align: justify;
    }

    .timebox .col-md-3 span {
        font-size: 0.9rem;
        padding-left: 0.5rem;
    }

.speakerdetails {
}

    .speakerdetails .detailsbtn {
        display: none;
        position: absolute;
        top: 33%;
        left: 30%;
        background-color: #00406e !important;
        color: #00e5ff !important;
        border-color: #00406e !important;
    }

    .speakerdetails:hover .detailsbtn {
        display: block;
    }

    .speakerdetails:hover .imgblur {
        background-color: #00e5ff;
    }

    .speakerdetails:hover img {
        opacity: 0.5;
    }

    .speakerdetails h4 {
        color: #00406e;
        font-size: 1.2rem;
        font-weight: bold;
        margin-top: 1rem;
    }

    .speakerdetails p.badge-pill {
        background-color: #00e5ff;
        color: #00406e;
        padding: 0.5rem;
        font-size: 0.7rem;
        white-space: normal;
        width: 95%;
        height: 3rem;
        line-height: 1rem;
    }

/*flipper-card*/
.card-flipper {
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
}

.card__front,
.card__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

    .card__front .card, .card__back .card {
        width: 100%;
        height: 13rem;
    }

.card__front,
.card__back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.card__front {
    background-color: #fff;
}

.card__back {
    background-color: #fff;
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.card-flipper.effect__hover {
    position: relative;
    height: 13rem;
    background-color: transparent !important;
}

    .card-flipper.effect__hover:hover .card__front {
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }

    .card-flipper.effect__hover:hover .card__back {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }

.card-flipper.effect__random.flipped .card__front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.card-flipper.effect__random.flipped .card__back {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
}

#sponsors .btn-default {
    background: #00e5ff;
    color: #00406e;
    font-weight: 500;
    font-size: 14px;
    font-size: 0.7rem;
}

#sponsors .card {
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    border: none;
}

#sponsors .card-img-top {
    width: 70% !important;
    margin-top: 2rem;
}

#sponsors .card-01 .card-body {
    position: relative;
    padding-top: 40px;
    color: #fff;
    background-image: linear-gradient( rgba(0,0,0,.8), rgba(0,0,0,.8) ), url(../images/event-bg-2.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

    #sponsors .card-01 .card-body .card-title {
        font-size: 1.2rem;
        font-weight: 600;
    }

    #sponsors .card-01 .card-body .card-text {
        font-size: 0.9rem;
    }



.social-box svg {
    color: #00e5ff;
}

.contactdetails {
    background-image: linear-gradient( rgba(0,0,0,.6), rgba(0,0,0,.6) ), url(../images/event-bg-new.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    padding: 4rem 0;
    color: #fff;
}

.social-box a {
    margin: 0 5px;
}

.contactdetails svg {
    width: 4rem !important;
    height: 4rem !important;
    fill: #00e5ff !important;
    color: #00e5ff !important;
}

#venue {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

.contactdetails h4 {
    font-weight: 600;
    font-size: 1.2rem;
    color: #fff;
}

.contactdetails p {
    font-size: 0.9rem;
}

.gmap, .gmap iframe {
    padding: 0 !important;
    margin: 0 !important;
}

.sectionsubheading {
    color: #00406e !important;
}

.abouttabs .nav-link {
    background-color: #00e5ff;
    color: #00406e;
    font-size: 0.8rem;
    border-radius: 1rem !important;
    margin-left: 0.5rem;
    font-weight: 400;
}

    .abouttabs .nav-link.active {
        background-color: #00406e;
        color: #00e5ff;
        border-radius: 1rem !important;
    }

.abouttabs .tab-content p {
    font-size: 0.9rem;
}

.videomodal {
    border-radius: 0 !important;
}

    .videomodal .modal-header {
        background-color: #00e5ff !important;
        color: #00406e !important;
        border: none !important;
        border-radius: 0 !important;
    }

        .videomodal .modal-header span {
            color: #00406e !important;
        }

#contact {
    background-image: linear-gradient( rgba(0,0,0,.8), rgba(0,0,0,.8) ), url(../images/contact-bg.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    padding: 4rem 0;
}

    #contact .sectionheading, #contact .sectionsubheading {
        color: #fff !important;
    }

.teambox h4 {
    font-weight: 600;
    color: #fff;
}

.teambox p {
    color: #bee4ff;
    font-size: 0.9rem;
}

.teambox img {
    width: 70%;
}

.usersocial li a {
    color: #00406e;
    font-size: 1rem;
    background-color: #00e5ff;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.5rem;
}

    .usersocial li a:hover {
        background-color: #002d4e;
        color: #00e5ff;
    }


#eventMasterMenu {
    background-image: linear-gradient( rgba(0,0,0,.4), rgba(0,0,0,.4) ), url(../images/event-bg-new.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
    padding: 4rem 0;
}

#register {
    padding: 4rem 0;
}

    #register label {
        font-weight: 600;
    }

        #register label.custom-control-label {
            font-weight: normal;
        }

    #register hr {
        border: solid 5px #ddd;
    }

    #register .form-control:focus {
        box-shadow: 0 0 0 3px rgba(0, 229, 255, 0.26);
        border-color: #00e5ff;
    }

.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #00406e;
}

#principalsponsors .sectionheading, #platinumsponsors .sectionheading, #goldsponsors .sectionheading, #silversponsors .sectionheading, #associatesponsors .sectionheading {
    border-bottom: solid 1px #f3f3f3;
    padding-bottom: 1rem;
}

#platinumsponsors, #principalsponsors {
    padding: 2rem 0;
}

#goldsponsors {
    padding: 1.5rem 0;
}

#silversponsors {
    padding: 1.5rem 0;
}

#associatesponsors {
    padding: 1.5rem 0;
}

@media (min-width: 992px) {
    .col-md-n {
        max-width: 20%;
    }

    .col-md-m {
        max-width: 14.28%;
    }

    .col-md-o {
        max-width: 12.5%;
    }
}

.hoversponsors .hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

    .hoversponsors .hovereffect .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        opacity: 0;
        filter: alpha(opacity=0);
        background-color: rgba(0, 64, 110, 0.8);
        -webkit-transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
        transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
    }

    .hoversponsors .hovereffect img {
        display: block;
        position: relative;
        -webkit-transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
        transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
    }

    .hoversponsors .hovereffect h2 {
        color: #fff;
        text-align: center;
        position: relative;
        font-size: 0.9rem;
        background: rgba(0, 229, 255, 0.7);
        -webkit-transform: translateY(-100px);
        -ms-transform: translateY(-100px);
        transform: translateY(-100px);
        -webkit-transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
        transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
        padding: 0.6rem;
    }

    .hoversponsors .hovereffect a.info {
        text-decoration: none;
        display: inline-block;
        color: #fff;
        border: 1px solid #fff;
        background-color: transparent;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
        margin-top: 10%;
        padding: 0.2rem 0.5rem;
        font-size: 0.875rem;
    }

        .hoversponsors .hovereffect a.info:hover {
            background-color: #00e5ff;
            color: #00406e;
            border: 1px solid #00e5ff;
        }

    .hoversponsors .hovereffect:hover img {
        -ms-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    .hoversponsors .hovereffect:hover .overlay {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    .hoversponsors .hovereffect:hover h2, .hoversponsors .hovereffect:hover a.info {
        opacity: 1;
        filter: alpha(opacity=100);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    .hoversponsors .hovereffect:hover a.info {
        -webkit-transition-delay: .2s;
        transition-delay: .2s;
    }

#clubbedsponsors {
    padding: 1.5rem 0;
}

    #clubbedsponsors h6 {
        font-size: 0.9rem;
        font-weight: 700;
        color: #00406e;
        margin-bottom: 1rem;
    }

#goldsponsors .sectionheading {
    font-size: 2rem;
}

#silversponsors .sectionheading {
    font-size: 1.75rem;
}

#associatesponsors .sectionheading {
    font-size: 1.5rem;
}

#othersponsors .sectionheading, #partners .sectionheading, #clubbedsponsors h6, #organizers .sectionheading, #participating .sectionheading {
    font-size: 1.2rem;
    border-bottom: solid 1px #f3f3f3;
    padding-bottom: 0.8rem;
}

#partners, #othersponsors, #organizers, #participating {
    padding: 1.5rem 0;
}

    #partners a {
        font-size: 0.8rem;
        text-align: center;
        display: block;
        color: #000;
        margin-bottom: 1rem;
    }

        #partners a:hover {
            text-decoration: none;
        }

    #othersponsors img {
        filter: grayscale(100%);
        opacity: 0.5;
    }

        #othersponsors img:hover {
            filter: grayscale(0%);
            opacity: 1;
        }

.swiper-container-participating .swiper-slide img {
    filter: grayscale(1);
}

    .swiper-container-participating .swiper-slide img:hover {
        filter: grayscale(0);
        transition: filter ease 1s;
    }

.swiper-container-participating {
    width: 100%;
    height: 7.5rem;
}

    .swiper-container-participating .swiper-slide {
        /*width: 10%;*/
    }

.sponsordetailsbox {
    background-color: #f5f5f5;
}

.sponsordetails {
    background-color: #fff;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
    padding: 1rem;
    margin: 2rem 0;
}

    .sponsordetails p {
        font-size: 0.9rem;
    }

.sponsorinfolink {
    display: block;
}

    .sponsorinfolink:hover {
        text-decoration: none;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    }

#organizers img {
    max-width: 60%;
}

#blogposts {
    background-color: #f5f5f5;
    padding: 2rem 0;
}

    #blogposts a.visitblog, #blogposts a.visitblog:hover {
        text-decoration: none;
        color: #000;
    }

.blogpost {
    background-color: #fff;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
    padding: 1rem;
    min-height: 11rem;
}

    .blogpost .imgthumb {
        width: 25%;
        float: left;
    }

    .blogpost .postdetails {
        width: 75%;
        float: left;
    }

        .blogpost .postdetails h5 {
            font-size: 1rem;
            font-weight: 600;
        }

        .blogpost .postdetails p {
            font-size: 0.8rem;
        }

.eventbtn {
    background-color: #00406e !important;
    color: #00e5ff !important;
    border-color: #00406e !important;
}

    .eventbtn:hover {
        background-color: #00253f !important;
        color: #fff !important;
        border-color: #00406e !important;
    }

.speakersdetails {
    background-color: #f5f5f5;
}

.speakerslist li.media {
    background-color: #fff;
    padding: 2rem;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
}

    .speakerslist li.media img {
        border-radius: 2rem;
        box-shadow: 0px 0px 2px rgba(0,0,0,0.1);
    }

    .speakerslist li.media h5 {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 1.5rem;
        color: #00406e;
    }

    .speakerslist li.media p {
        font-size: 0.8rem;
        float: left;
        text-align: justify;
    }

        .speakerslist li.media p.desc {
            width: 90% !important;
            margin-right: 2rem;
        }

.speakerlinks {
    margin-top: 0.6rem;
    text-align: center !important;
    color: #000;
    display: block;
    max-width: 20%;
    font-size: 0.9rem;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
    padding-bottom: 0.3rem;
    text-decoration: none;
    overflow: hidden;
    float: left;
    margin-right: 1rem;
}

    .speakerlinks div {
        background-color: #00e5ff;
        padding: 0.5rem 2rem;
        margin-bottom: 0.3rem;
    }

.speakersdetailspage {
    background-color: #f5f5f5;
}

.whitebox {
    background-color: #fff;
    padding: 2rem !important;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
}

.speakersdetailspage .speakerlinks {
    max-width: 35%;
}

.speakersdetailspage p {
    font-size: 0.9rem;
}

.speakersdetailspage .speakerpara p {
    text-align: justify;
}

h1.speakername {
    font-size: 1.5rem;
    font-weight: 600;
    color: #00406e;
    margin-bottom: 1.5rem;
}

@keyframes speakerlinkshover {
    0% {
        top: 0px;
    }

    50% {
        top: -20px;
    }

    100% {
        top: 0px;
    }
}

.speakerlinks svg {
    font-size: 2.5rem;
    color: #029aab;
}

.speakerlinks:hover {
    border-color: #00406e;
    color: #000;
    text-decoration: none;
}

    .speakerlinks:hover div {
        background-color: #00406e;
    }

    .speakerlinks:hover svg {
        color: #fff;
        position: relative;
        -webkit-animation-name: speakerlinkshover; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 0.15s; /* Safari 4.0 - 8.0 */
        animation-name: speakerlinkshover;
        animation-duration: 0.15s;
    }

.speakerslist li .viewdetailsbtn {
    vertical-align: bottom;
}


@media (max-width: 575.98px) {
    .highlights {
        margin-top: 0 !important;
        padding: 1.5rem 1rem 0.5rem !important;
    }

    #days, #hours, #minutes, #seconds {
        width: 4rem !important;
        height: 4rem !important;
        margin-right: 0 !important;
        padding: 0.6rem;
        font-size: 1.5rem;
    }

        #days span, #hours span, #minutes span, #seconds span {
            font-size: 0.7rem !important;
            display: block;
            text-align: center;
            width: 100%;
            margin-top: 1rem;
            font-weight: 500;
            color: #000;
        }

    .swiper-slider .swiper-slide .caption {
        width: 100% !important;
        top: 45% !important;
    }

        .swiper-slider .swiper-slide .caption .eventdetails {
            font-size: 0.7rem !important;
            margin-bottom: 0.5rem;
        }

    .swiper-slide .btn-info {
        padding: .25rem .5rem !important;
    }

    .cover-heading {
        font-size: 1.2rem !important;
    }

    .slidersocial {
        width: 30% !important;
        top: -34%;
        padding: 0 !important;
    }

        .slidersocial a {
            margin: 0 0.5rem !important;
        }

    .navbar-brand {
        max-width: 70%;
    }

    .navbar-dark .navbar-toggler {
        margin-right: 0.7rem;
    }

    .nav-masthead .navbar-collapse {
        background-color: rgba(0,0,0,0.7);
    }

    .shrink-nav-dark .navbar-collapse {
        background-color: transparent !important;
    }

    .nav-masthead .nav-link {
        padding: 0.5rem .25rem !important;
        margin-left: 1.5rem !important;
        margin-right: 1.5rem !important;
    }

        .nav-masthead .nav-link + .nav-link {
            margin-left: 1.5rem !important;
        }

    #timer {
        background-color: rgba(0,0,0,1);
        padding: 1rem 0;
        position: relative;
        margin-top: 0;
    }

        #timer .highlightsingle {
            margin-bottom: 1rem;
        }

    .sectionheading {
        font-size: 1.75rem !important;
    }

    .abouttabs .nav-pills {
        justify-content: center;
        margin-top: 0.5rem;
    }

    .abouttabs .nav-link {
        font-size: 0.7rem;
        margin: 0 0.5rem 0.5rem 0;
    }

    .abouttabs .tab-content, .abouttabs .tab-content p {
        font-size: 0.8rem;
        text-align: justify;
    }

        .abouttabs .tab-content .eventbtn {
            margin: 0 auto;
            width: 60%;
            display: block;
            margin-top: 1rem;
        }

    .agendaimg {
        max-height: 3rem;
    }

    .agendadetails {
        text-align: center;
        border-left: 0 !important;
    }

        .agendadetails h4 {
            font-size: 1rem !important;
        }

        .agendadetails p, .agendadetails ul li {
            font-size: 0.8rem;
            margin-left: 0;
        }

        .agendadetails ul li {
            text-align: left;
        }

    #downloads .highlightsingle {
        margin-bottom: 1rem;
    }

    .speakerdetails {
        margin-bottom: 1rem;
    }

        .speakerdetails .detailsbtn {
            left: 36%;
        }

    .nav-masthead {
        padding: 0 !important;
    }

    .social {
        padding: 1rem 0;
    }

        .social a {
            padding: 0.1rem;
        }

        .social img {
            width: 12.5% !important;
        }

    .imglogofooter {
        width: 50% !important;
        margin: 2rem 0;
    }

    .footerrow {
        padding: 0;
    }

        .footerrow h4 {
            padding-top: 2rem;
            text-align: center;
        }

        .footerrow a {
            text-align: center;
        }
}

.pptdownloads {
    background-color: #f5f5f5;
}

.downloadstable {
    width: 100% !important;
    border: solid 1px #00406e;
    border-radius: 10px !important;
    border-collapse: separate;
    border-spacing: 0;
}

    .downloadstable thead {
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .downloadstable tbody {
        height: 450px;
        overflow-y: auto;
        width: 100%;
    }

    .downloadstable thead tr {
        width: 99%;
    }

    .downloadstable tbody tr {
        width: 100%;
        border-bottom: solid 1px #d3e6f5 !important;
    }

        .downloadstable tbody tr:hover {
            background-color: #d3e6f5 !important;
        }

    .downloadstable thead, .downloadstable tbody, .downloadstable tr, .downloadstable td, .downloadstable th {
        display: inline-block;
    }

    .downloadstable thead {
        background: #00406e;
        color: #fff;
    }

        .downloadstable tbody td, .downloadstable thead > tr > th {
            border-bottom-width: 0;
        }

    .downloadstable > tbody > tr > td, .downloadstable > tbody > tr > th, .downloadstable > tfoot > tr > td, .downloadstable > tfoot > tr > th, .downloadstable > thead > tr > td, .downloadstable > thead > tr > th {
        padding: 8px;
        line-height: 32px;
        font-size:0.9rem !important;
    }

    .downloadstable td .btn-warning, .downloadstable td .btn-warning:active, .downloadstable td .btn-warning:visited, .downloadstable td .btn-warning:link, .downloadstable td .btn-warning:focus {
        background-color: #00e5ff !important;
        border-color: #00e5ff !important;
        color: #00406e !important;
    }

        .downloadstable td .btn-warning:hover {
            background-color: #002d4e !important;
            color: #fff !important;
            border-color: #002d4e !important;
        }

.downloadstable-scrollbar {
    height: 550px;
    overflow-y: scroll;
}

    .downloadstable-scrollbar::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
        background-color: #444444;
    }

    .downloadstable-scrollbar::-webkit-scrollbar {
        width: 1%;
        min-width: 5px;
        background-color: #F5F5F5;
    }

    .downloadstable-scrollbar::-webkit-scrollbar-thumb {
        background-color: rgba(0, 229, 255, 0.7);
    }
