﻿.eventintro {
    /*background: url(../images/event-bg-1.jpg) no-repeat center center fixed;*/
    background-image: linear-gradient( rgba(0,0,0,.7), rgba(0,0,0,.7) ), url(../images/event-bg-2.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
}

.eventintro2 {
    /*background: url(../images/event-bg-1.jpg) no-repeat center center fixed;*/
    background-image: linear-gradient( rgba(0,0,0,.1), rgba(0,0,0,.1) ), url(../images/event-bg-new.jpg);
}

.nav-masthead {
    padding: 0 1rem !important;
}

    .nav-masthead .navbar-collapse {
        justify-content: flex-end;
    }

    .nav-masthead .nav-link {
        padding: .25rem !important;
        font-weight: 300 !important;
        color: rgba(255, 255, 255, 1) !important;
        background-color: transparent !important;
        border-bottom: .25rem solid transparent !important;
        font-size: 0.9rem !important;
    }

        .nav-masthead .nav-link:hover,
        .nav-masthead .nav-link:focus {
            border-bottom-color: rgba(255, 255, 255, .25) !important;
        }

        .nav-masthead .nav-link + .nav-link {
            margin-left: 1rem !important;
        }

    .nav-masthead .active {
        color: #fff !important;
        border-bottom-color: #e51e23 !important;
    }

        .nav-masthead .active:hover, .nav-masthead .active:focus {
            border-bottom-color: #e51e23 !important;
        }


.shrink-nav {
    background-color: rgba(229, 30, 35, 0.9);
    padding-top: 0;
    padding-bottom: 0;
}

.shrink-nav-dark {
    background-color: rgba(0,0,0,0.9);
}

.shrink-nav .active {
    border-bottom-color: #fff !important;
}

.cover {
    padding: 0 1.5rem;
    text-align: center;
    margin: 0 auto;
    color: #fff;
    margin-top: 16%;
    margin-bottom: 2%;
}

    .cover .btn-outline-danger {
        border-bottom-color: #e51e23 !important;
        color: #fff !important;
    }

        .cover .btn-outline-danger:hover {
            background-color: #e51e23 !important;
        }

.cover-heading {
    font-weight: 600;
}

.cover .lead {
    font-size: 2rem;
    font-weight: 300;
}

.highlights {
    width: 100%;
    background-color: rgba(229, 30, 35, 0.9);
    color: #fff !important;
    padding: 1.5rem 5rem 0;
    border-radius: 10rem;
}

.highlights-dark {
    background-color: rgba(0,0,0,0.5);
    border-radius: 0rem;
}

.highlightsingle h4 {
    text-align: center;
    padding-top: 1rem;
    font-weight: 600;
}

.highlightsingle p {
    text-align: center;
    display: block;
}


#aboutevent, #agenda, #speakers, #sponsors, #exhibitors, #othersponsors, #venue {
    padding: 2rem 0;
}

#timer {
    background-image: linear-gradient( rgba(0,0,0,.7), rgba(0,0,0,.7) ), url(../images/event-bg-1.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    padding: 4rem 0;
}

#agenda, #sponsors {
    background-color: #f5f5f5;
}

#sponsors {
    float: left;
    width: 100%;
    position: relative;
    min-height: 90vh;
}

#days, #hours, #minutes, #seconds {
    font-size: 4rem;
    color: #fff;
    display: inline-block;
    font-weight: 600;
    width: 8rem;
    height: 8rem;
    text-align: center;
    border: solid 1px rgba(255,255,255,0.4);
    border-radius: 50%;
    padding: 1rem;
    margin-right: 1rem;
}

    #days span, #hours span, #minutes span, #seconds span {
        font-size: 1rem !important;
        display: block;
        text-align: center;
        width: 100%;
        margin-top: 2rem;
        font-weight: 400;
        opacity: 0.6;
    }

.typed-cursor {
    opacity: 1;
    font-size: 2rem;
    -webkit-animation: blink 0.7s infinite !important;
    -moz-animation: blink 0.7s infinite !important;
    animation: blink 0.7s infinite !important;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.daybox {
    border: none;
    border-radius: 0 !important;
}

div.daybox.card {
    background-color: transparent;
}

.daybox .card-header {
    background-color: #e51e23;
    color: #fff;
    border: 0;
    border-radius: 0 !important;
}

.daybox .card-body {
    background-color: transparent;
    padding: 0;
}

.timebox {
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.1);
}

    .timebox h4 {
        font-size: 1rem;
        font-weight: 600;
    }

    .timebox p, .timebox ul li {
        font-size: 0.8rem;
        line-height: 1.2rem;
        text-align: justify;
    }

    .timebox .col-md-3 span {
        font-size: 0.9rem;
        padding-left: 0.5rem;
    }



/*
 * 1. core styles
 */

.teamy {
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding: 1rem;
}

.teamy__layout {
    position: relative;
}

.teamy__preview {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.teamy__avatar {
    display: block;
    max-width: 100%;
    position: relative;
    z-index: 1;
    border-radius: 50%;
}

.teamy__preview:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
}

.teamy__back {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    opacity: 0;
    will-change: opacity;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.teamy:hover .teamy__back {
    opacity: 1;
    height: 100%;
    transition: opacity .4s cubic-bezier(0.71, 0.05, 0.29, 0.9) .2s;
}

.teamy__name {
    margin-top: 0;
    margin-bottom: 0;
}

.teamy__post {
    display: block;
}

/*
 * 2. visual styles
 */

/* common styles for visual styles */

.teamy__back {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.teamy__content {
    padding: 20px;
}

.teamy__name {
    font-size: 1.3em;
}

.teamy__post {
    margin-top: .5em;
    font-size: .8em;
    text-transform: uppercase;
}

.teamy_style1 {
    text-align: center;
}

/*
 * 3. masks
 */

/* mask circle */

.teamy_mask-circle .teamy__preview:before {
    width: 0;
    height: 0;
    padding: 25%;
    border-radius: 50%;
    transition: transform .3s ease, opacity .3s ease-out;
    will-change: opacity, transform;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
}

.teamy_mask-circle:hover .teamy__preview:before {
    opacity: 1;
    transform: translate(-50%, -50%) scale(4);
    transition-duration: .6s;
}

/*
 * 4. animations for preview
 */

/* zoom */

.teamy_zoom-photo .teamy__avatar {
    transition: transform .4s cubic-bezier(0.71, 0.05, 0.29, 0.9);
    will-change: transform;
    transform: scale(1);
}

.teamy_zoom-photo:hover .teamy__avatar {
    transform: scale(1.2);
}

/* zoom and rotate */

.teamy_zoom-rotate-photo .teamy__avatar {
    transition: transform .4s cubic-bezier(0.71, 0.05, 0.29, 0.9);
    will-change: transform;
    transform: scale(1) rotate(0);
}

.teamy_zoom-rotate-photo:hover .teamy__avatar {
    transform: scale(1.2) rotate(5deg);
}

/* zoom and slide */

.teamy_zoom-slide-photo .teamy__avatar {
    transition: transform .4s cubic-bezier(0.71, 0.05, 0.29, 0.9);
    will-change: transform;
    transform: scale(1) translate(0, 0);
}

.teamy_zoom-slide-photo:hover .teamy__avatar {
    transform: scale(1.2) translate(4%, 4%);
}

/*
 * 5. default skin
 */

.teamy__preview:before {
    background-color: rgba(72, 27, 174, .7);
}

.teamy_style2, .teamy_style3 {
    color: #fff;
}

    .teamy_style2 .teamy__content {
        background-color: rgba(72, 27, 174, .85);
    }


/* grid */

.teamy-team {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (min-width: 849px) {

    .teamy {
        width: 25%;
    }
}

@media screen and (min-width: 425px) and (max-width: 848px) {

    .teamy {
        width: 50%;
    }
}

@media screen and (max-width: 424px) {

    .teamy {
        width: 100%;
    }
}
/* demo params */

.teamy__preview:before {
    background-color: rgba(0,0,0,.7);
}


/* social buttons */

.social-team {
    box-sizing: border-box;
    width: 42px;
    height: 42px;
    padding: 10px;
    background-color: #fff;
    border-radius: 100%;
    margin: 5px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.social__icon {
    width: 100%;
    height: 100%;
    fill: #e51e23;
}

.social__name {
    position: absolute;
    left: -9999px;
}

/* layout */



.section:nth-of-type(even) {
    background-color: rgba(0,0,0,0.5);
}

.section__header {
    position: relative;
    padding-bottom: 2rem;
    text-align: center;
    text-transform: uppercase;
}

    .section__header:before {
        content: "";
        width: 5rem;
        height: 3px;
        background-color: #e51e23;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

.section__title {
    font-size: 2.8rem;
}

.section__hint {
    font-size: 1.4rem;
    display: block;
    margin-top: 1rem;
}

.section__content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

@media screen and (min-width: 641px) {

    .section {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

    .section__header {
        margin-bottom: 6rem;
    }

    .section__content {
        justify-content: center;
    }
}

@media screen and (max-width: 640px) {

    .section {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .section__header {
        margin-bottom: 3rem;
    }
}



/*flipper-card*/
.card-flipper {
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
}

.card__front,
.card__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

    .card__back .card {
        width: 100%;
        height: 53vh;
    }

.card__front,
.card__back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.card__front {
    background-color: #fff;
}

.card__back {
    background-color: #fff;
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.card-flipper.effect__hover {
    position: relative;
    height: 50vh;
    background-color: transparent !important;
}

    .card-flipper.effect__hover:hover .card__front {
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }

    .card-flipper.effect__hover:hover .card__back {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }

.card-flipper.effect__random.flipped .card__front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.card-flipper.effect__random.flipped .card__back {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
}

#sponsors .btn-default {
    background: #e51e23;
    color: #fff;
    font-weight: 700;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
    font-size: 14px;
}

#sponsors .card {
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    border: none;
}

#sponsors .card-img-top {
    width: 60% !important;
}

#sponsors .card-01 .card-body {
    position: relative;
    padding-top: 40px;
    color: #fff;
    background-image: linear-gradient( rgba(0,0,0,.8), rgba(0,0,0,.8) ), url(../images/event-bg-2.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

    #sponsors .card-01 .card-body .card-title {
        font-size: 1.2rem;
        font-weight: 600;
    }

    #sponsors .card-01 .card-body .card-text {
        font-size: 0.9rem;
    }

#sponsors .card-01 .badge-box {
    position: absolute;
    top: -20px;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    text-align: center;
    padding: 10px;
    background: #e51e23;
    border-radius: 50%;
}

    #sponsors .card-01 .badge-box svg {
        color: #fff;
        width: 30px;
        height: 30px;
    }

.social-box svg {
    color: #e51e23;
}

.contactdetails {
    background-image: linear-gradient( rgba(0,0,0,.8), rgba(0,0,0,.8) ), url(../images/event-bg-1.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    padding: 4rem 0;
    color: #fff;
}

.social-box a {
    margin: 0 5px;
}

.contactdetails svg {
    width: 4rem !important;
    height: 4rem !important;
    fill: #e51e23 !important;
    color: #e51e23 !important;
}

#venue {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

.contactdetails h4 {
    font-weight: 600;
    font-size: 1.2rem;
    color: #fff;
}

.contactdetails p {
    font-size: 0.9rem;
}

.gmap, .gmap iframe {
    padding: 0 !important;
    margin: 0 !important;
}
