﻿body {
    font-family: 'Montserrat', sans-serif !important;
}

.steelnav {
    background-color: #e51e23;
}

    .steelnav .nav-link {
        color: #fff !important;
        text-transform: uppercase;
        font-size: 0.8rem !important;
        font-weight: 500;
    }

.banner-sec {
    background: #EBEBEB;
    min-height: 77vh;
}

    .banner-sec .card-block {
        padding: 0 5px 5px;
    }

    .banner-sec .card-body {
        padding: 0.5rem 0.875rem !important;
    }

    .banner-sec .card-text {
        margin: 0;
    }

.newspage {
    background-color: #fff !important;
}

    .newspage .newscard {
        border: 0 !important;
        border-radius: 0 !important;
    }

    .newspage .card-body {
        padding: 0.5rem 0 !important;
    }

    .newspage .title-small {
        font-size: 13px !important;
    }

    .newspage .news-block .news-des {
        font-size: 14px !important;
        text-align: justify;
    }

.catnews {
    padding: 2rem 0;
    background-color: #f4f4f4;
    margin-top: 1rem;
}

    .catnews .catheading {
        font-size: 1.1rem;
        font-weight: 500;
        text-align: center;
        margin-bottom: 1.5rem;
    }

    .catnews .newsbox {
        background-color: #fff;
        border-radius: 1rem;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        list-style: none;
        padding: 1rem !important;
    }

        .catnews .newsbox .newsitem {
            padding: 1rem 0;
            display: block;
            width: 100%;
            max-height: 4rem;
        }

            .catnews .newsbox .newsitem img {
                max-width: 80px;
                float: left;
                margin-right: 1rem;
            }

            .catnews .newsbox .newsitem .newsheadline {
                display: block;
                font-size: 0.9rem;
            }

.text-time {
    color: #ff0000;
    font-weight: 600;
}

.title-small {
    color: #141517;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    margin: 2px 0 0;
}

.title-large {
    font-size: 20px;
    margin: 10px 0 5px;
    line-height: 27px;
    color: #141517;
}

    .title-large a, .title-small a, .title-x-small a {
        color: inherit;
    }

.banner-sec .card-img-overlay {
    height: 20%;
    left: 7px;
    padding: 0;
    top: 3px;
}

.banner-sec .news -block .news-des {
    color: #2e2e2e;
    float: left;
    font-size: 15px;
    font-weight: 400;
    width: 100%;
}

#steelfeaturedjobs {
    height: 35rem;
}

.banner-sec .top-slider .carousel-indicators {
    bottom: 0;
}

    .banner-sec .top-slider .carousel-indicators .active {
        background: #000 none repeat scroll 0 0;
    }

    .banner-sec .top-slider .carousel-indicators li {
        border: 1px solid #000;
        padding: 1px;
    }

.banner-sec .top-slider .carousel-indicators {
    bottom: -30px;
}

.banner-sec .news-block .news-des {
    color: #2e2e2e;
    float: left;
    font-size: 15px;
    font-weight: 400;
    width: 100%;
}

.banner-sec .news-block .time-text {
    float: left;
    width: 100%;
    margin-top: 12px;
}

#newsticker {
    padding: 1rem 0;
}

.flasher-sec .heading-box {
    background-color: #e51e23;
    padding: 14px 0;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

.flasher-sec .content-box {
    background-color: #efefef;
}

.flasher-sec .control-box {
    background-color: #dfdfdf;
    height: 58px;
    position: absolute;
    right: 0;
    top: 0;
    width: 6%;
}

.flasher-sec .carousel-item {
    font-size: 16px;
    line-height: 58px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    color: #2d2d2d;
}

.flasher-sec .content-box .time-box {
    color: #e51e23;
    padding: 0 20px;
    position: relative;
}

    .flasher-sec .content-box .time-box::after {
        content: "|";
        position: absolute;
        right: 8px;
        top: -19px;
    }

.flasher-sec .carousel-control-prev, .flasher-sec .carousel-control-next {
    padding: 0 15px;
}

    .flasher-sec .carousel-control-prev .fa, .flasher-sec .carousel-control-next .fa {
        color: #FD6B4E;
        font-size: 30px;
    }

#eventscorner {
    padding: 2rem 0;
}

.eventsingle {
    position: relative;
    margin: 1rem 0;
}

    .eventsingle img {
        display: block;
        width: 100%;
        height: auto;
    }

.eventsheading {
    color: #e51e23;
    border-bottom: solid 3px #e51e23;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    padding-bottom: 0.5rem;
}

.eventspage .eventsheading {
    color: #000 !important;
    border-bottom: solid 1px #000 !important;
    font-weight: 400 !important;
}

.btn-events {
    background-color: #e51e23;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0.5rem 2rem !important;
    border-radius: 0;
}

    .btn-events svg {
        margin-right: 1rem;
    }

.eventsingle .eventsingleoverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,0);
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );
}

    .eventsingle .eventsingleoverlay:hover {
        background: rgba(229, 30, 35, 0.80) !important;
    }

    .eventsingle .eventsingleoverlay h4 {
        color: #fff;
        font-size: 0.875rem;
        text-align: center;
        position: absolute;
        display: block;
        bottom: 2rem;
        padding: 0.5rem;
        width: 100%;
        min-height: 3.125rem;
    }

    .eventsingle .eventsingleoverlay p {
        color: #fff;
        font-size: 0.8rem;
        text-align: center;
        position: absolute;
        display: block;
        width: 100%;
        bottom: 0;
        padding: 0 0.5rem;
    }

.sfsidead img {
    max-width: 95%;
}

.sfsidead {
    padding: 0.8rem 0;
    display: block;
}

.sectionheading {
    font-weight: 300;
    font-size: 2rem;
    color: #000;
}

.sectionsubheading {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    color: #e51e23;
    display: block;
    width: 100%;
    margin-bottom: 2.5rem;
}

#about {
    background-image: url(../images/about-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem 2rem;
}

.aboutsectionpara {
    font-size: 0.9rem;
    font-weight: 500;
    text-align: justify;
    width: 95%;
    line-height: 2rem;
    padding-left: 1rem;
}

#about .btn-outline-danger {
    border-width: 2px;
    font-size: 0.9rem;
    font-weight: 600;
    margin-left: 1rem;
}

#clientele {
    padding: 3rem 0;
}

#newsletter {
    background-color: #e51e23;
    padding: 3rem 0;
}


    #newsletter .form-control {
        background-color: transparent;
        color: #fff !important;
        border-width: 2px;
        font-size: 0.9rem;
        margin: 2rem 0;
    }

    #newsletter .btn-light {
        color: #e51e23;
        text-transform: uppercase;
        padding: 1rem;
        border-radius: 1rem;
        margin: 0 auto;
        width: 50%;
        display: block;
        margin: 2rem auto;
        font-weight: 600;
    }

    #newsletter ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #fff;
    }

    #newsletter ::-moz-placeholder { /* Firefox 19+ */
        color: #fff;
    }

    #newsletter :-ms-input-placeholder {
        color: #fff;
    }

#advertisewithus {
    background-image: url(../images/ad-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem 2rem;
}

    #advertisewithus .btn-events {
        border-radius: 0.8rem !important;
        padding: 1rem 2rem !important;
        font-size: 1rem !important;
    }




#footer {
    background-image: linear-gradient( rgba(0,0,0,.2), rgba(0,0,0,.2) ), url(../images/footer-bg.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

.social {
    text-align: center;
    padding: 2rem 0 1.5rem;
}

    .social h2 {
        color: #fff;
        padding: 2rem 0;
    }

    .social img {
        filter: invert(100%);
        opacity: 0.3;
        width: 7%;
        display: inline-block;
    }

        .social img:hover {
            opacity: 1;
        }

    .social a {
        padding: 1rem;
    }

.footerrow {
    padding: 1.5rem 0 2rem;
}

    .footerrow h4 {
        color: #fff;
        font-size: 1rem;
    }

    .footerrow a {
        color: rgba(255,255,255,0.4);
        text-decoration: none;
        display: block;
        padding: 0.15rem;
        font-size: 0.9rem;
    }

        .footerrow a:hover {
            color: #FFF;
        }

.copyright p {
    padding: 1rem;
    color: rgba(255,255,255,0.7);
    font-size: 0.8rem;
    font-weight: 300;
    border-top: solid 1px rgba(255,255,255,0.2);
}



@media (min-width: 992px) {
    .brandlogo {
        margin-left: 10px;
    }

        .brandlogo img {
            max-width: 300px !important;
            padding: 1rem;
        }

    .steelnav .nav-link {
        padding: .5rem 1rem !important;
    }

    .steelnav .navbar-collapse ul li a,
    .steelnav .navbar-collapse ul li a:after,
    .steelnav .navbar-collapse ul li a:before {
        transition: all .5s;
    }

    .steelnav .navbar-collapse ul li a {
        position: relative !important;
        z-index: 1 !important;
    }

        .steelnav .navbar-collapse ul li a:hover {
            color: #e51e23 !important;
        }

        .steelnav .navbar-collapse ul li a:after {
            display: block !important;
            position: absolute !important;
            top: 0 !important;
            left: 0 !important;
            bottom: 0 !important;
            right: 0 !important;
            margin: auto !important;
            width: 100% !important;
            height: 1px !important;
            content: '.' !important;
            color: transparent !important;
            background: #FFF !important;
            visibility: none !important;
            opacity: 0 !important;
            z-index: -1 !important;
        }

        .steelnav .navbar-collapse ul li a:hover:after, .steelnav .btnstyle .nav-link:after,
        .steelnav .navbar-collapse .nav-item.active a:after {
            opacity: 1 !important;
            visibility: visible !important;
            height: 80% !important;
            border-radius: 5px;
        }

    .steelnav .navbar-collapse .nav-item.active a {
        color: #e51e23 !important;
    }

    .steelnav .btnstyle .nav-link {
        color: #e51e23 !important;
        margin-left: 1rem;
    }

        .steelnav .btnstyle .nav-link:hover {
            color: #fff !important;
        }

    .steelnav .navbar-collapse ul li.btnstyle a:hover:after {
        background: #940004 !important;
    }

    .pref-top img {
        padding-top: 1rem;
        max-width: 90%;
        float: right;
    }

    .pref-ffside img {
        max-width: 90%;
        float: right;
        margin: 0 1rem 1rem 0;
    }

    #steelcarousel .carousel-caption {
        bottom: 35% !important;
    }

        #steelcarousel .carousel-caption h5 {
            font-size: 0.875rem;
        }

        #steelcarousel .carousel-caption p {
            font-size: 0.6rem;
            text-transform: uppercase;
            font-weight: bold;
        }

        #steelcarousel .carousel-caption span.highlight {
            font-size: 2rem;
            text-transform: uppercase;
            font-weight: 300;
            background-color: rgba(229, 30, 35, 0.6) !important;
            color: #fff !important;
            padding: 1rem;
        }
}


.pageheading {
    font-size: 2rem;
    color: #000 !important;
    text-transform: uppercase;
    font-weight: 300 !important;
    text-align: center;
    padding: 2rem 0;
}

    .pageheading span {
        color: #e51e23 !important;
        font-weight: 600;
    }

.newsdetails .pageheading {
    font-size: 1.5rem !important;
    font-weight: 400 !important;
    text-transform: none !important;
    padding-top: 0;
}

.newsdetails .lead {
    font-size: 1.2rem !important;
}

.graybgsection {
    padding: 3rem 0;
    background-color: #f5f5f5;
}

.abtsection {
    text-align: center;
}

    .abtsection svg {
        color: #e51e23;
        margin: 0 auto;
    }

    .abtsection h4 {
        font-size: 1.5rem;
        font-weight: 500;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }


.usersocial {
    list-style-type: none;
    padding: 0;
}

    .usersocial li {
        display: inline-flex;
    }

        .usersocial li a {
            color: #fff;
            font-size: 1rem;
            background-color: #000;
            border-radius: 50%;
            width: 2.5rem;
            height: 2.5rem;
            padding: 0.5rem;
        }

            .usersocial li a:hover {
                background-color: #e51e23;
            }

.teambox h4 {
    font-weight: 600;
}

.teambox p {
    color: #666;
    font-size: 0.9rem;
}



/********************************/
.contactboxes {
    padding: 50px 0px;
    background: #f5f5f5;
}

.box-text {
    font-size: 0.9rem;
}

.box {
    cursor: pointer;
    box-shadow: 0px 2px 10px -4px #333745;
    padding: 20px 0px;
    margin-bottom: 20px;
    background: #fff;
    height: 15rem;
}

.incon-box {
    background: #e51e23;
    height: 55px;
    width: 55px;
    line-height: 62px;
    border: 3px solid transparent;
}

    .incon-box svg {
        font-size: 35px;
        color: #fff;
        transition: all .2s ease-in;
    }

.box-tittle {
    font-size: 20px;
    text-transform: uppercase;
    color: #333745;
    line-height: 60px;
}

.box:hover .incon-box {
    background: #fff;
    border: 3px solid #e51e23;
}

    .box:hover .incon-box svg {
        color: #e51e23;
    }


/********Cotact Us Box ************/

.contact-us-box {
    position: relative;
    margin-top: 25px;
    padding: 50px;
}

    .contact-us-box .incon-box {
        position: absolute;
        top: -20px;
        left: 40%;
    }

.contact-form label {
    color: #000;
}

.contact-form input {
    height: 40px;
    border-radius: 0px;
}

.contact-form textarea {
    border-radius: 0px;
}

.iframe-map {
    width: 100%;
    height: 600px;
}


.panel-box {
    border-radius: 0px !important;
}


.send-btn, .send-btn:hover, .send-btn:active, .send-btn:focus {
    background: #e51e23;
    border: 1px solid #e51e23;
    border-radius: 0;
    color: #FFFFFF !important;
    display: block;
    padding: 12px 45px;
}



#sample1 div {
    background: url(../images/emailers/1.png) 0 0 no-repeat;
    display: block;
    text-align: center;
    color: #fff;
    padding-top: 20px;
    width: 400px;
    height: 300px;
    -webkit-transition: background-position 5s ease-in-out;
    -moz-transition: background-position 5s ease-in-out;
    -ms-transition: background-position 5s ease-in-out;
    -o-transition: background-position 5s ease-in-out;
    transition: background-position 5s ease-in-out;
    background-size: cover;
    float: right;
    margin-right: 1rem;
}

#sample2 div {
    background: url(../images/emailers/2.png) 0 0 no-repeat;
    display: block;
    text-align: center;
    color: #fff;
    padding-top: 20px;
    width: 400px;
    height: 300px;
    -webkit-transition: background-position 5s ease-in-out;
    -moz-transition: background-position 5s ease-in-out;
    -ms-transition: background-position 5s ease-in-out;
    -o-transition: background-position 5s ease-in-out;
    transition: background-position 5s ease-in-out;
    background-size: cover;
    float: left;
    margin-left: 1rem;
}

    #sample1 div:hover, #sample2 div:hover {
        background-position: center bottom;
    }

.thirdparty {
    background-color: #f5f5f5;
    padding: 1rem;
    margin-top: 1.5rem;
}

    .thirdparty img {
        float: left;
        max-width: 100px;
    }

    .thirdparty .eventcontent {
        float: right;
        width: 68%;
    }

        .thirdparty .eventcontent p {
            font-weight: 600;
            font-size: 1rem;
        }

        .thirdparty .eventcontent span {
            font-size: 0.875rem;
        }






.swiper-slider {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

    .swiper-slider .swiper-slide .caption {
        position: absolute;
        text-align: center;
        color: #fff;
        z-index: 99;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        width: 70%;
    }

        .swiper-slider .swiper-slide .caption .eventdetails svg, .eventsmasterdetails .eventdetails svg {
            color: #00e5ff;
            margin-right: 0.5rem;
        }

        .swiper-slider .swiper-slide .caption .eventdetails, .eventsmasterdetails .eventdetails {
            font-family: 'Oswald', sans-serif;
            font-style: italic;
            font-weight: 300;
            text-transform: uppercase;
            font-size: 0.9rem;
        }




.eventsmasterdetails {
    width: 70%;
    text-align: center;
    margin: 2rem auto 0;
    color: #fff;
}

.cover-heading {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    font-size: 2.5rem;
    width: 70%;
    margin: 0 auto;
}

.swiper-slider .swiper-button-next, .swiper-slider .swiper-container-rtl .swiper-button-prev {
    right: 20px !important;
    left: auto;
    background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'><path%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23FFFFFF'%2F><%2Fsvg>") !important;
}

.swiper-slider .swiper-button-prev, .swiper-slider .swiper-container-rtl .swiper-button-next {
    left: 20px !important;
    right: auto;
    background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'><path%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23FFFFFF'%2F><%2Fsvg>") !important;
}

.swiper-pagination-bullet-active {
    background: #4787e2 !important;
}

.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 0px;
}

.swiper-slide .btn-outline-danger {
    border-bottom-color: #00e5ff !important;
    color: #fff !important;
}

.swiper-slide .btn-info, #register .btn-info {
    background-color: #00e5ff !important;
    color: #00406e;
    font-size: 1rem;
    border-color: #00e5ff !important;
}

    .swiper-slide .btn-info:hover, #register .btn-info:hover {
        background-color: #00406e !important;
        color: #00e5ff;
        border-color: #00406e !important;
    }

.swiper-slide .btn-outline-danger:hover {
    background-color: #00e5ff !important;
}

.swiper-button-next, .swiper-button-prev {
    top: 40% !important;
}


#jobs {
    background-color: #eff2f7;
    padding: 0 0 2rem 0;
}

    #jobs .featuredjobs {
        background-color: #fff;
        border-radius: 1rem;
        box-shadow: 6px 6px 22px 2px rgba(74, 94, 127, 0.2);
        width: 90%;
        height: 20rem;
        display: block;
    }

        #jobs .featuredjobs .toppart img {
            width: 50%;
            max-height: 10rem;
            border-top-left-radius: 1rem;
            padding: 1rem;
        }

        #jobs .featuredjobs .iconic {
            background-color: #4a5e7f;
            width: 50%;
            height: 10rem;
            border-top-right-radius: 1rem;
            padding: 1rem 1rem;
        }

            #jobs .featuredjobs .iconic p {
                color: #d9e7ff;
                font-size: 1.5rem;
                margin-bottom: 0;
                margin-top: 0.5rem;
                float: left;
                width: 20%;
            }

                #jobs .featuredjobs .iconic p.val {
                    font-size: 0.7rem;
                    margin-top: 0.7rem;
                    float: right;
                    width: 80%;
                    padding-left: 0.5rem;
                    font-weight: 600;
                }

        #jobs .featuredjobs .toppart {
            height: 10rem;
        }

        #jobs .featuredjobs .details {
            width: 100%;
            display: block;
            background-color: #f5f5f5;
            height: 10rem;
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
            padding: 1rem;
        }

        #jobs .featuredjobs .iconic .col.secondrow {
            border-top: dashed 1px #5f79a3;
            margin-top: 1.2rem;
            padding-top: 0.7rem;
        }

        #jobs .featuredjobs .details h5 {
            font-size: 0.9rem;
            font-weight: 600;
            color: #444;
        }

        #jobs .featuredjobs .details p {
            font-size: 0.8rem;
            color: #999;
            margin: 0 0 0.4rem;
        }

            #jobs .featuredjobs .details p svg {
                margin-right: 0.5rem;
            }



        /*second design*/

        #jobs .featuredjobs .iconicdetails {
            background-color: #4a5e7f;
            width: 100%;
            height: 3rem;
            padding: 0 1rem;
        }

            #jobs .featuredjobs .iconicdetails p {
                color: #d9e7ff;
                font-size: 1.5rem;
                margin-bottom: 0;
                margin-top: 0.3rem;
                float: left;
                width: 20%;
                padding-left: 0.5rem;
            }

                #jobs .featuredjobs .iconicdetails p.val {
                    font-size: 0.7rem;
                    margin-top: 0.5rem;
                    float: right;
                    width: 80%;
                    padding-left: 1rem;
                    font-weight: 600;
                }

            #jobs .featuredjobs .iconicdetails .col.secondcol {
                border-left: dashed 1px #5f79a3;
            }

            #jobs .featuredjobs .iconicdetails .secondcol p {
                margin-left: 1.5rem;
            }

                #jobs .featuredjobs .iconicdetails .secondcol p.val {
                    margin-left: 0 !important;
                    width: 60%;
                    padding-left: 0.5rem;
                }

        #jobs .featuredjobs .topimg img {
            max-height: 8rem;
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
        }

        #jobs .featuredjobs .otherdetails h5 {
            font-size: 0.9rem;
            font-weight: 600;
            color: #444;
        }

        #jobs .featuredjobs .otherdetails p {
            font-size: 0.8rem;
            color: #999;
            margin: 0 0 0.4rem;
        }

            #jobs .featuredjobs .otherdetails p svg {
                margin-right: 0.5rem;
            }

        #jobs .featuredjobs .otherdetails {
            width: 100%;
            display: block;
            background-color: #f5f5f5;
            height: 9rem;
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
            padding: 1rem;
        }


    #jobs a, #jobs a:hover {
        text-decoration: none;
    }

#otherjobs {
    padding: 3rem 0;
    background-color: #f5f5f5;
}

.singlejob {
    background-color: #fff;
    padding: 1rem;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
    margin-bottom: 1rem;
}

    .singlejob .firstrow {
        margin-bottom: 1rem;
    }

        .singlejob .firstrow img {
            width: 16.666667%;
            float: left;
        }

        .singlejob .firstrow .jobtitle {
            display: block;
            font-size: 1.1rem;
            font-weight: 600;
            color: #4a5e7f;
            width: 83%;
            float: left;
            margin-top: 1rem;
        }

        .singlejob .firstrow .company {
            display: block;
            font-size: 0.9rem;
            color: #777;
            width: 65%;
            float: left;
        }

    .singlejob .secondrow {
        font-size: 0.875rem;
    }

        .singlejob .secondrow .graycol {
            color: #777;
            margin-bottom: 1rem;
        }

.swiper-container-clientele .swiper-slide {
    width: 12.5%;
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .steelnav {
        padding: 0;
        background-color: transparent;
    }

        .steelnav .navbar-collapse {
            background-color: #e51e23;
            padding: 1rem;
        }

        .steelnav .navbar-toggler {
            background-color: #e51e23;
            position: absolute;
            top: -5.5rem;
            right: 1rem;
        }

    .brandlogo {
        display: block;
        padding: 0.5rem 1rem;
    }

    .pref-top {
        margin-bottom: 0.5rem;
    }

    .brandlogo img.img-fluid {
        width: 70% !important;
        margin: 0 auto;
    }

    .banner-sec .container {
        padding: 0;
    }

    #about {
        padding: 1rem !important;
    }

        #about iframe {
            max-width: 100%;
            margin-bottom: 2rem;
        }

        #about .btn-outline-danger {
            width: 55%;
            display: block;
            margin: 1rem auto;
        }

    #newsticker .carousel-item, #newsticker .carousel-item a, #newsticker .carousel-item span {
        font-size: 0.8rem;
        line-height: 1rem !important;
        min-height: 60px;
        padding-top: 1rem;
    }

    .flasher-sec .control-box {
        background-color: transparent;
        position: absolute;
        top: 110%;
        left: 50%;
        transform: translateX(-50%);
        width: 20%;
        justify-content: center;
    }

    .flasher-sec .content-box {
        min-height: 60px;
    }

    .flasher-sec .carousel-control-prev, .flasher-sec .carousel-control-next {
        background-color: #e51e23;
        padding: 0.5rem !important;
        opacity: 1;
        width: auto !important;
        height: 2rem;
    }

        .flasher-sec .carousel-control-prev svg, .flasher-sec .carousel-control-next svg {
            color: #fff;
            font-size: 25px;
            padding: 0 !important;
        }

    #midad, #newscorner {
        margin-top: 2rem !important;
    }

        #newscorner .card {
            min-height: 16rem;
        }

    .swiper-container-clientele .swiper-slide {
        width: 50%;
        text-align: center;
    }

    #newsletter {
        padding: 1rem 0 !important;
    }

        #newsletter img {
            display: block;
            width: 50% !important;
            margin: 0 auto;
        }

    .social {
        padding: 1rem 0;
    }

        .social a {
            padding: 0.1rem;
        }

        .social img {
            width: 12.5% !important;
        }

    .imglogofooter {
        width: 50% !important;
        margin: 2rem 0;
    }

    .footerrow {
        padding: 0;
    }

        .footerrow h4 {
            padding-top: 2rem;
            text-align: center;
        }

        .footerrow a {
            text-align: center;
        }

    #sample1 div, #sample2 div {
        max-width: 100% !important;
        float: none !important;
        margin: 1rem 0;
    }

    .iframe-map {
        padding-top: 2rem !important;
    }

    #steelcarousel .carousel-caption {
        bottom: 35% !important;
    }

        #steelcarousel .carousel-caption h5 {
            font-size: 0.875rem;
        }

        #steelcarousel .carousel-caption p {
            font-size: 0.6rem;
            text-transform: uppercase;
            font-weight: bold;
        }

        #steelcarousel .carousel-caption span.highlight {
            font-size: 2rem;
            text-transform: uppercase;
            font-weight: 300;
            background-color: rgba(229, 30, 35, 0.6) !important;
            color: #fff !important;
            padding: 1rem;
        }

    .cover-heading {
        font-size: 1rem;
        width: 90%;
        margin: 0 auto;
    }

    .swiper-slider .swiper-slide .caption .eventdetails, .eventsmasterdetails .eventdetails {
        font-size: 0.6rem;
        margin-bottom: 0;
        font-weight: 400;
        font-style: normal;
        text-transform: capitalize;
    }

    .swiper-slide .lead {
        margin: 0;
    }

    .swiper-slide .btn-info {
        font-size: 0.7rem;
        font-weight: 500;
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
}

.newsmain {
}

    .newssidebar a, .newsmain a {
        color: #000;
    }

        .newssidebar a:hover, .newsmain a:hover {
            color: #e51e23;
            text-decoration: none !important;
        }

        .newssidebar a h6 {
            font-size: 0.9rem !important;
        }

        .newsmain a h6 {
            font-size: 1.1rem;
            font-weight: 500;
        }

        .newsmain a p {
            font-size: 0.8rem !important;
            text-align: justify;
        }




.blogposts {
    background-color: #f5f5f5;
    padding: 2rem 0;
}

    .blogposts a.visitblog, .blogposts a.visitblog:hover {
        text-decoration: none;
        color: #000 !important;
    }

.blogpost {
    background-color: #fff;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
    padding: 1rem;
    min-height: 11rem;
}

    .blogpost .imgthumb {
        width: 25%;
        float: left;
    }

    .blogpost .postdetails {
        width: 75%;
        float: left;
    }

        .blogpost .postdetails h5 {
            font-size: 1rem;
            font-weight: 600;
        }

        .blogpost .postdetails p {
            font-size: 0.8rem;
        }

.gvnews {
    border: none !important;
}



.pagination-ys {
    /*display: inline-block;*/
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

    .pagination-ys > td {
        border: none !important;
    }

    .pagination-ys table > tbody > tr > td {
        display: inline;
    }

        .pagination-ys table > tbody > tr > td > a,
        .pagination-ys table > tbody > tr > td > span {
            position: relative;
            float: left;
            padding: 8px 12px;
            line-height: 1.42857143;
            text-decoration: none;
            color: #dd4814;
            background-color: #ffffff;
            border: 1px solid #dddddd;
            margin-left: -1px;
        }

        .pagination-ys table > tbody > tr > td > span {
            position: relative;
            float: left;
            padding: 8px 12px;
            line-height: 1.42857143;
            text-decoration: none;
            margin-left: -1px;
            z-index: 2;
            color: #aea79f;
            background-color: #f5f5f5;
            border-color: #dddddd;
            cursor: default;
        }

        .pagination-ys table > tbody > tr > td:first-child > a,
        .pagination-ys table > tbody > tr > td:first-child > span {
            margin-left: 0;
            border-bottom-left-radius: 4px;
            border-top-left-radius: 4px;
        }

        .pagination-ys table > tbody > tr > td:last-child > a,
        .pagination-ys table > tbody > tr > td:last-child > span {
            border-bottom-right-radius: 4px;
            border-top-right-radius: 4px;
        }

        .pagination-ys table > tbody > tr > td > a:hover,
        .pagination-ys table > tbody > tr > td > span:hover,
        .pagination-ys table > tbody > tr > td > a:focus,
        .pagination-ys table > tbody > tr > td > span:focus {
            color: #97310e;
            background-color: #eeeeee;
            border-color: #dddddd;
        }


.tpeventslist li.media {
    background-color: #fff;
    padding: 1.25rem;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
    position: relative;
}

    .tpeventslist li.media img {
        box-shadow: 0px 0px 2px rgba(0,0,0,0.1);
    }

    .tpeventslist li.media h5 {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 1.25rem;
        color: #424242;
        width: 95% !important;
    }


    .tpeventslist li.media .desc {
        width: 95% !important;
        font-size: 0.8rem;
        text-align: justify;
        display: block;
        height: 7rem;
        overflow:hidden;
        text-overflow:ellipsis;
    }

    .tpeventslist li.media .basicdetails {
        font-size: 0.75rem;
        font-style: italic;
        margin-bottom: 1rem;
        margin-top: 0.5rem;
        width: 95% !important;
    }

    .tpeventslist li.media a {
        margin-right: 1rem;
    }

.yeartabs .nav-link {
    border-radius: 0;
    color: #888 !important;
    margin: 0.25rem 0;
}

    .yeartabs .nav-link.active {
        background-color: #e51e23 !important;
        color: #fff !important;
    }

.eventdt {
    position: absolute;
    top: 0;
    right: 0;
}

    .eventdt span {
        background-color: #B3E5FC;
        text-align: center;
        display: block;
        width: 4rem;
        font-size: 0.875rem;
        padding: 0.125rem 0;
        font-weight: 500;
        text-transform: uppercase;
    }

    .eventdt .h3 {
        display: block;
        background-color: #03A9F4;
        width: 4rem;
        height: 3rem;
        padding: 0.75rem 0;
        color: #fff;
        text-align: center;
        margin: 0 !important;
        font-size: 1.5rem;
    }
