.login-page .form-holder .info {
    background: rgba(43, 144, 217, 0.8);
    color: #fff;
}

.login-page::before {
}

table.dataTable {
    border-collapse: collapse !important;
}


/*
 * bootstrap-tagsinput v0.8.0
 * 
 */

.bootstrap-tagsinput {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    display: inline-block;
    padding: 4px 6px;
    color: #555;
    vertical-align: middle;
    border-radius: 4px;
    width: 100%;
    line-height: 22px;
    cursor: text;
}

    .bootstrap-tagsinput input {
        border: none;
        box-shadow: none;
        outline: none;
        background-color: transparent;
        padding: 0 6px;
        margin: 0;
        width: auto;
        max-width: inherit;
    }

    .bootstrap-tagsinput.form-control input::-moz-placeholder {
        color: #777;
        opacity: 1;
    }

    .bootstrap-tagsinput.form-control input:-ms-input-placeholder {
        color: #777;
    }

    .bootstrap-tagsinput.form-control input::-webkit-input-placeholder {
        color: #777;
    }

    .bootstrap-tagsinput input:focus {
        border: none;
        box-shadow: none;
    }

    .bootstrap-tagsinput .badge {
        margin-right: 2px;
        color: white;
        background-color: #0275d8;
        padding: 5px 8px;
        border-radius: 3px;
        border: 1px solid #01649e;
    }

        .bootstrap-tagsinput .badge [data-role="remove"] {
            margin-left: 8px;
            cursor: pointer;
        }

            .bootstrap-tagsinput .badge [data-role="remove"]:after {
                content: "x";
                padding: 0px 4px;
                background-color: rgba(0, 0, 0, 0.1);
                border-radius: 50%;
                font-size: 13px;
            }

            .bootstrap-tagsinput .badge [data-role="remove"]:hover:after {
                background-color: rgba(0, 0, 0, 0.62);
            }

            .bootstrap-tagsinput .badge [data-role="remove"]:hover:active {
                box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
            }
